services:
  - type: worker
    name: jaces-mm-helper-bot
    runtime: node
    plan: starter
    buildCommand: npm install
    startCommand: npm start
    autoDeploy: true
    envVars:
      - key: BOT_TOKEN
        sync: false
      - key: LOG_CHANNEL_ID
        sync: false
      - key: ALLOWED_ROLE_IDS
        sync: false
